<.header>
  Edit Paper <%= @paper.id %>
  <:subtitle>Use this form to manage paper records in your database.</:subtitle>
</.header>

<.paper_form changeset={@changeset} action={~p"/papers/#{@paper}"} />

<.back navigate={~p"/papers"}>Back to papers</.back>
