<.header>
  New Question template
  <:subtitle>Use this form to manage question_template records in your database.</:subtitle>
</.header>

<.question_template_form changeset={@changeset} action={~p"/question_templates"} />

<.back navigate={~p"/question_templates"}>Back to question_templates</.back>
