<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:tmpl]} type="text" label="Tmpl" />
  <.input field={f[:formula]} type="text" label="Formula" />
  <:actions>
    <.button>Save Question template</.button>
  </:actions>
</.simple_form>
